body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.colcontainer {
    justify-content: center;
    width: 60%;
    background-color: rgba(255, 228, 196, 0);
    height: 900px;
    margin: 10px;
}

/* Estilos para la barra de navegación */
.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #acacac; 
    display: flex;
    align-items: center;
    height: 80px;
    border-radius: 5px  ;
}

.navbar li a  {
    padding: 27px;
    font-size: 20px;
    color: #000000; /* Color del texto */
    border: 1px solid rgb(140, 140, 140); /* Ancho y color del borde */
    text-decoration: none;

}

.navbar img {
    width: 85px;
    height: 78px;
    border-radius: 5px;
}

.search-bar {
    display: flex;
}

.search-bar input {
    height: 25px;
    border-radius: 10px;
    color: #000000; /* Color del texto */
    border: 1px solid rgb(140, 140, 140); /* Ancho y color del borde */
}

.search-bar img {
    height: 30px;
    width: 30px;
    margin-left: -8px;
    margin-top: -1px;
}

.barra2 {
    width: 100%;
    height: 80px;
    background-color: darkgray;
}

.header {
    position: relative;
}


.header img {
    width: 100%;
    height: auto;
}


.linea {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 20px;
}

.fondo {
    width: 100%;
}

.fondo img {
    width: 100%;

}

.raw {
    width: 100%;
    display: flex;
    align-items: center;
}

.col {
    background-color: rgb(255, 255, 255);
    width: 65%;
    height: 110px;
    display: flex;
    align-items: center;
    color: #fff; /* Color del texto */
    border: 1px solid darkgray; /* Ancho y color del borde */
}
.col h1 {
    margin: 50px;
    font-size: 32px;
    width: 100%;
    color: darkgray;
}

.col1 {
    width: 35%;
    background-color: rgb(255, 255, 255);
    height: 110px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #fff; /* Color del texto */
            border: 1px solid darkgray; /* Ancho y color del borde */
}

.col1 button {
    width: 75%;
    height: 55px;
    background-color: #4a84aa ;
    color: white;
    font-size: 25px;
    border-color: #4a84aa ;
    border-radius: 5px;
}

.raw2 {
    display: flex;
}

.col2 {
    background-color: rgb(255, 255, 255);
    width: 25%;
    height: 410px;
    color: #fff; /* Color del texto */
            border: 1px solid darkgray; /* Ancho y color del borde */
    justify-content: center;
}

.titulo {
    display: flex;
}

.col2 h1 {
    color: black;
    font-size: 25px;
}

.col2 img {
    width: 30px;
    height: 30px;
    padding: 10px;
}
.col2 p {
    color: black;
    margin: 5px;
}

.caja {
    width: 100%;
    height: 200px;
    background-color: rgba(127, 255, 212, 0);
}

.caja img {
    width: 250px;
    height: 200px;

    
}

.caja1 {
    width: 100%;
    height: 200px;
    background-color: rgba(127, 255, 212, 0);
}

.caja1 img {
    width: 250px;
    height: 173px;

    
}

.caja2 {
    width: 100%;
    height: 200px;
    background-color: rgba(127, 255, 212, 0);
}

.caja2 img {
    width: 250px;
    height: 200px;
    height: 173px;
}



.caja3 {
    width: 100%;
    height: 250px;
    background-color: rgba(127, 255, 212, 0);
}

.caja3 img {
    width: 250px;
    height: 190px;
}

.mg-navbar{
    margin-top: -4px;
}

.navbar2 {
    width: 70%;
    position: sticky;
    top: 0;
    background-color: #333; /* Cambia el color de fondo según tus preferencias */
}

.navbar2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333; /* Mismo color que el fondo para que parezca que está pegado */
}

.navbar2 li {
    margin: 10px;

}

.navbar2 a {
    text-decoration: none;
    color: white;
}

.navbar2 a:hover {
    text-decoration: underline;
}

span {
    color: rgb(0, 208, 255);
}

.colnav {
    background-color: #333;
    width: 100%;
}

.botones {
    display: flex;
    justify-content: center;
    padding: 32px;
}

.botones button {
    justify-content: center;
    background-color: rgb(65, 180, 221);
    width: 240px;
    height: 45px;
    border: 1px solid rgb(65, 180, 221); /* Ancho y color del borde */
    color: white;
    border-radius: 6px;
}

.botones1 {
    display: flex;
    justify-content: center;
    padding: 15px ;
}

.botones1 button {
    justify-content: center;
    background-color: rgb(65, 180, 221);
    width: 240px;
    height: 45px;
    border: 1px solid rgb(65, 180, 221); /* Ancho y color del borde */
    color: white;
    border-radius: 6px;
}

.botones2 {
    display: flex;
    justify-content: center;
    padding: 15px ;
}

.botones2 button {
    justify-content: center;
    background-color: rgb(65, 180, 221);
    width: 240px;
    height: 45px;
    border: 1px solid rgb(65, 180, 221); /* Ancho y color del borde */
    color: white;
    border-radius: 6px;
}

.botones3 {
    display: flex;
    justify-content: center; 
    padding: 19px ;
    
    
}

.botones3 button {
    justify-content: center;
    background-color: rgb(64, 181, 224);
    width: 240px;
    height: 45px;
    border: 1px solid rgb(65, 180, 221); /* Ancho y color del borde */
    color: white;
    border-radius: 6px;
    
}

.espacio {
    width: 1139px;
    background-color: white;
    height: 60px;
    color: #fff; /* Color del texto */
    border: 1px solid darkgray; /* Ancho y color del borde */
    
}

.raw4 {
    display: flex;
}

.col4 {
    background-color: rgb(255, 255, 255);
    width: 16.7%;
    height: 250px;
}

.col4 h3 {
    font-size: 20px;
    color: black;
    padding: 10px;
}

.col4 p {
    color: darkgray;
    margin: 10px;
}

.margen-izq{
    margin-left: 250px;
}

.lp p {
    color: gray;
    font-size: 12px;
}


